.a-attention {
  color: #FF5154;
  font-weight: bold;
}

.a-important {
  font-weight: 600;
  font-size: $base-fontsize;
}

.a-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}