.a-paragraph-title {
  position: relative;
  margin-top: $base-spacing;
  margin-left: map-get($spacings,  2);
  margin-bottom: $base-spacing;
  font-family: 'Courier New', Courier, monospace;
  font-size: $xxlarge-fontsize;
  color: $color-header;
  height: 50px;
  
  & > div {
    display: inline-block;
    margin: map-get($spacings,  2);
    position: absolute;
  }

  &__title {
    line-height: 38px;
    left: 42px;
    font-weight: 600;
    font-size: $xlarge-fontsize;
    color: $color-font;
  }
  
  &__title--without-icon {
    left: 0;
  }

  &__icon {
    left: 0;
    font-size: 38px;
  }


}