.a-paragraph-title {
  position: relative;
  margin-top: $base-spacing;
  margin-left: map-get($spacings,  2);
  margin-bottom: $base-spacing;
  font-family: 'Adine Kirnberg', 'Courier New', Courier, monospace;
  font-size: $xxlarge-fontsize;
  color: $color-header;
  display: flex;
  height: 50px;
  align-items: flex-start;

  &__title {
    line-height: 38px;
    font-weight: 600;
    font-size: $xxlarge-fontsize;
    color: $color-font;
    margin-top: auto;
    margin-bottom: auto;

  }

  &__icon {
    font-size: 38px;
  }
}

@media screen and (max-width: 560px) {
  .a-paragraph-title {
    margin-left: map-get($spacings,  1);
    color: $color-font;

    &__title {
      line-height: 24px;
      left: 0px;
      font-weight: 500;
      font-size: $xlarge-fontsize;
    }
  }
}