.o-content-page {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  position: relative;
  margin-top: 190px; 
  margin-bottom: map-get($map: $spacings, $key: 8);
  padding: map-get($spacings, 6);
  
  width: 70vw;
  z-index: 1;
  
  margin-left:auto;
  margin-right: auto;

  &__header {
    padding: map-get($spacings, 5);
    color: black;
    border-bottom: 1px solid gray;


    h4 {
      margin-top: auto;
      margin-bottom: auto;
    }
    h3 {
      font-family: 'Adine Kirnberg', 'Courier New', Courier, monospace;
      font-size: $xxlarge-fontsize;
    }
  }
}

.o-content-page.no-background {
  background: none;
}