
.o-content-paragraphs {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  margin-left: 25px;
  margin-right: 25px;
  height: 80%;
  overflow-y: auto;
  color:#eaeaea;
}