$xxs-spacing: 5px;
$xs-spacing: 10px;
$s-spacing: 20px;
$m-spacing: 25px;
$l-spacing: 50px;
$xl-spacing: 125px;

$default-font: 'BalooTamma2'; 
$default-fontsize: 18px;
$extra-small-fontsize: 10px;
$small-fontsize: 13px;

$default-border: 25px;