.m-game-link {
    height: 30px;
    max-width: 180px;
    display: flex;
    justify-content: space-between;

    align-items: center;

    &__img {
        height: 30px;
        margin-right: 2px;
        padding-left: 5px;
        box-shadow: rgb(50, 50, 50) 2px 0px 1px 0px;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__icons {
        width: 60px;
        height: 30px;
        box-shadow: rgb(50, 50, 50) -2px 0 1px 0px;
        background: rgb(102,102,102);
        background: linear-gradient(90deg, rgba(102,102,102,1) 0%, rgba(125,125,125,1) 100%);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .a-icon {
            display: flex;
            color: white;
            cursor: pointer;
        }

        .a-icon:hover {
            color: $color-shade-020;
        }

    }

}