.m-game-link {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;

    &__img {
        height: 30px;
        margin-right: 2px;
        padding-left: 5px;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .a-icon {
        display: flex;
        color: $color-ui-010;
        cursor: pointer;
        transition: color 200ms ease-in-out;
        width: 30px;
        height:30px;

        svg {
            width: 30px; height:30px;
        }
    }

}

.m-game-link:hover {
    background-color: $color-shade-020;

    .a-icon {
        color: $color-ui-020;
    }
}