.m-image {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 100%;
        height: 400px;
    }

    &__credit {
        color: $color-shade-030;
        font-size: 14px;
        margin: $s-spacing;
        font-family: Roboto-light;
    }
}