.m-panel {
    width: 400px;
    height: 600px;
    margin-top: auto;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    backdrop-filter: 2px;
    box-shadow: rgba(70,118,151, .4) 3px 3px 7px 1px;

    background-image: linear-gradient(to bottom right, #39b2af, #55367d);

    &--left {
        left: 8vw;
    }

    &--center {
        left: 43vw;
    }

    &__header {
        height: 50px;
        margin-top: $l-spacing;
        margin-bottom: $l-spacing;
        color: #fff;
    }

    &__text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        font-family: Vecoly;
        color: #fff;
        font-size: 18px;
    }

    &__img {
        img {
            width: 80%;
            // height: 100%;
            box-shadow: rgba(16, 5, 59, .4) 3px 3px 7px 2px;
        }
        
        margin-bottom: $xl-spacing;
        cursor: pointer;
        transition: ease-out;
    }

    &__img:hover {
        transform: scale(1.01);
    }

    &__link {
        margin-bottom: $l-spacing;
        text-decoration: none !important;
        color: $color-theme-030;
        font-family: SourceSansPro-s--bold;
        font-size: 24px;
    }

    &__link:hover {
        color: $color-theme-020;
    }

    &__link:focus {
        $color: $color-theme-020;
    }


}

.m-panel--size-half {
    width: 250px;
    height: 350px;

    .m-panel__header {
        margin-top: $m-spacing + $s-spacing;
        margin-bottom: $m-spacing;
    }
    
}