.m-panel {
    width: 400px;
    height: 600px;
    margin-top: auto;

    background-image: linear-gradient(to bottom right, #39b2af, #55367d);
    box-shadow: rgba(70,118,151, .4) 3px 3px 7px 1px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &--left {
        left: 8vw;
    }

    &--center {
        left: 43vw;
    }

    &__header {
        height: 50px;
        margin-top: $l-spacing;
        margin-bottom: $l-spacing;
        color: #fff;
    }

    &__text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        font-family: Vecoly;
        color: #fff;
        font-size: 18px;
    }

    &__img {

        .m-image {
            background: none;
            width: 80%;

            span.lazy-load-image-background {
                overflow: hidden;

                img.lazyload {
                    width: 100%;
                    box-shadow: inset(1px 1px);
                    filter: grayscale(95%);
                    transform: scale(1.3);
                    transition: transform 1s, filter 1s ease-in-out;
                }
            }
            
        }

        .m-image:hover {

            box-shadow: 0 0 3px 2px $color-ui-010;

            .lazy-load-image-background.lazy-load-image-loaded {
                img.lazyload {
                    transform: scale(1.0);
                    filter: grayscale(5%);
                }

            }
        }
        
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        cursor: pointer;
        transition: ease-out;
    }

    &__link {
        margin-bottom: $l-spacing;
        text-decoration: none !important;
        color: white;
        color: $color-gradient-010;
        font-family: SourceSansPro-s--bold;
        font-size: 24px;
    }

    &__link:hover {
        color: $color-ui-020;
        // @include text-gradient(45deg, $color-gradient-010, $color-gradient-020)
    }
}

.m-panel--size-half {
    width: 250px;
    height: 350px;

    .m-panel__header {
        margin-top: $m-spacing + $s-spacing;
        margin-bottom: $m-spacing;
    }
    
}