.m-social-links {
    position: fixed;
    top: 8vh;
    height: 90vh;
    right: 25px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    .a-icon {
        width: 40px;
        height: 40px;

        svg{
            width: 40px;
            height: 40px;
        }
        cursor: pointer;
    }

    .a-icon:hover {
        transform: scale(1.05);
        transition: ease-in-out;
    }

}