.m-teaser {
    position: absolute;
    display: inline-flex;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    margin-left: auto;
    margin-right: auto;

    &__img {
        position: relative;
        width: 100%;

        &:before {
            display: block;
            content: '';
            width: 100%;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            width: 100%;
            height: 100%;
            
            display: block;
            flex: 1 1 auto;
            object-fit: cover;
        }

        .m-teaser__likes {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: space-evenly;
            margin-right: $s-spacing;

            z-index: map-get($map: $zIndexMap, $key: 'overlay');
        }
    }

    &__img:after {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 150px 60px rgba(0,0,0,0.3);
    }

    &__details {
        flex-grow: 1;
        flex-shrink: 1;
        background-color: #F5F4F5;
        max-width: 250px;

        display: flex;
        flex-direction: column;

        &__header {
            padding-left: $m-spacing;
            padding-right: $m-spacing;
            margin-top: $m-spacing;
            margin-bottom: $m-spacing;
            color: $color-theme-030;
            font-weight: bold;
        }

        &__description {
            font-size: 12px;
            font-family: OpenSans;
            color: $color-shade-050;
            padding-left: $m-spacing;
            padding-right: $m-spacing;
            
            a {
                display: block;
                text-decoration: none;
                color: $color-ui-010;
            }

            a:hover {
                color: $color-ui-020;
                
            }
        }
        
        &__links {
            margin-top: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}

@include mq('M-max') {
    .m-teaser {
        // flex-direction: column;
        &__details {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(5px);

            &__header, &__description, &__link {
                color: $color-inactive;
            }

            .m-game-link:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}