.p-matches-page {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-family: $default-font;
    color: $color-white;
    font-weight: 400;
    font-size: 40px;
}
