.o-page-sidebar {
    // position: absolute;
    // left: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 400px;
    height: 400px;
    flex-grow: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    &__item {
        margin-top: auto;
        margin-bottom: auto;

        color: $color-font-inactive;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
        text-decoration: none;

    }

    &__item.active {
      color: $color-font;
    }


}