.o-page-menu {
    position: absolute;
    left: 0;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    .o-page-menu__item {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
    }
}