.t-wedding-template {
    position: absolute;
    height: 100%;
    left:0; right: -17px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    display: -ms-grid;


    &__header {
        position: fixed;
        top: 0;
        height: 20vh;
        width: 100%;
        background-color: white;
        z-index: 2;
        
        > h3 {
            width: 100%;
            min-height: 48px;
            padding-top: $base-spacing;
            padding-bottom: $base-spacing;
            color: $color-header;
            position: relative;

        }
        
        &__date {
          
          font-size: $base-fontsize;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
   }
}

@media screen and (max-width: 768px) {
  .t-wedding-template {

      &__header {
          top: 0;
          height: 18vh;
          
          > h3 {
            font-size: $xlarge-fontsize;
          }
          &__date {
            font-size: $small-fontsize;
          }
      }
  }
}

@media screen and (max-width: 560px) {
  .t-wedding-template {

      &__header {
          top: 0;
          height: 16vh;
          
          > h3 {
            font-size: $header-fontsize;
          }
          &__date {
            font-size: $small-fontsize;
          }
      }
  }
}