.p-experience {
    .flex-col {
        svg {
            overflow: visible;
        }
    }
}

@include mq('M-max') {
    .p-experience {
        .flex-col {
            svg {
                width: 300px;
                height: 300px;
            }
        }
    }
}
