
.p-games {
    background-color: rgba(255,255, 255, 0.3);
    backdrop-filter: blur(15px);

    &__links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $color-ui-010;
        cursor: pointer;
        margin-bottom: $l-spacing;

        .a-icon {
            margin-right: $s-spacing;
            width: 25px;
            height: 25px;
            filter: grayscale(100%);
            transition: filter .3s ease-out;

            svg {
                width: 25px;
                height: 25px;
            }
        }

        .a-icon:hover {
            filter: grayscale(0%);
        }
    }

    &__img-credit {
        position: absolute;
        right: 0;
        width: auto;
        display: flex;

    }
}
