.p-home {
    &__header {
        position: absolute;
        top: 20vh;
        left: 0;
        right: 0;
        color: $color-gradient-020;
        font-family: OpenSans;

        &__main {
            color: $color-theme-030;
        }
    }

    &__panels {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-bottom: $m-spacing;

        .m-panel--size-full {
            width: 300px;
        }

        @include mq(S) {
            .m-panel--size-full {
                width: 400px;
            }
        }


        @include mq(M) {
            flex-direction: row;
            justify-content: space-evenly;
            bottom: $l-spacing;
            left: $l-spacing;
        }

   }
}

@include mq('M-max') {
    .p-home {
        &__header {
            top: 12vh;
        }

        &__panels {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 40vh;
            
            .m-panel {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}