.p-home {
   &__panels {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       position: absolute;
       bottom: 5vh;

       height: 80vh;
       width: 70vw;
   }
}