
$themeColor: #CAE7B9;
$secondaryThemeColor: #5A5657;
$borderColor: #dbdbdb; 
$lipidDataColor: #F0F8EB;
$lipidDataButtons: #22333B;
$sidebarTextColor: #eaeaea;
$footerBackgroundColor: #2A363B;
$footerColor: #A9927D;
$errorColor: rgb(168, 0, 0);
$warningColor: #D19C0A; 
$textTheme: #4b4b4b;
$mainAxis: 'center';
$crossAxis: 'center';

$backgroundBorder: 1.5px solid #b6ebbb;
$sidebarBorder: 3px solid #3C3A3A;

body {
    text-align: center;
    overflow: hidden;
}

body, button, input {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",sans-serif
}

h1, h2, h3, h4 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    text-align: center;
}


ul li, label {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19px;
}

label {
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

html, body, #vesiclesCalcs-root, #vesiclesCalcs-root { 
    height: 100%;
    margin: 0;
    padding: 0;
}


#vesiclesCalcs-root .app-container.shaded {
    transform: scaleX(1.00001) translateX(-5px);
    overflow: hidden;

    .column__left {
        filter: blur(1px);
    }

    .column__right {
        filter: blur(1px);
    }
}
    
.messages-container {
    position: absolute;
    top: 5%;
    width: 50%;
    left: 25%;
    z-index: 5;
    
    .error-message, .info-message {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 100%;
        align-items: center;
        border-radius: 10px;
        padding: 10px;
        margin: 5px;

        a {
            color: '#083d8d';
            font-weight: '600';
            cursor: 'pointer';
        }
    }

    .message__icon {
        position: relative;
        height: 100%;
        color: white;

        svg {
            position: absolute;
            top: 10%;
            left: 5px;
        }
    }

    .error-message {
        background-color: $errorColor;
    }

    .info-message {
        background-color: #35baf6;
    }

    .message__close {
        color: white;
        position: relative;
        height: 100%;

        .close__icon {
            position: absolute;
            top: 10%; right: 5px;
        }
    }

    .message__close:hover {
        color: black;
    }

    .message__text {
        font-weight: 600;
        margin-left: 2%;
        text-align: left;

        span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #fafafa;
            font-size: 15px;
            font-weight: 500;
        }
    }
}

#vesiclesCalcs-root .app-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: $themeColor;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px;


    .column__left { 
        position: relative;
        width: 100px;
        height: 100%;
        box-shadow: 2px 0px 2px 2px $secondaryThemeColor;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: $secondaryThemeColor;
        z-index: 1;
    }

    .column__right { 
        position: relative;
        width: 95%;
        height: 100%;
    }
    .row__middle {
        width: 100%;
    }

    .column__left .row__middle {
        position: absolute;
        height: auto;
        top: 30%;
        
        .sidebar__button { 
            display: block;
            height: auto;
            width: 101%;
            border: none;
            background: none;
            font-size: 18px;
            font-weight: 500;
            color: $sidebarTextColor;
            text-decoration: none;
            cursor: pointer;

            .sidebar-button__icon {
                display: block;
                color: $sidebarTextColor;
                padding-top: 10px;
                margin-left: auto;
                margin-right: auto;
            }
            
            span {
                display: block;
                padding: 8px 0 8px 0;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }


    .column__left .row__middle .sidebar__button:focus { 
        outline: none;
        border: none;
    }

    .column__left .row__middle .sidebar__button.active { 
        border-right: $sidebarBorder;
        background-color: #3C3A3A;

        span { 
            font-weight: 600;
        }
    }

    .column__left .row__middle .sidebar__button:hover { 
        background-color: #716F6F;
    }

    .column__right .row__middle {
        padding-right: 37px;
        height: 100%;
        overflow: auto;


        .route-wrapper {
            .fade-enter {
                opacity: 0.01;
            }
            .fade-enter.fade-enter-active {
                opacity: 1;
                transition: opacity 300ms ease-in;
            }
            .fade-exit {
                opacity: 1;
            }
            
            .fade-exit.fade-exit-active {
                opacity: 0.01;
                transition: opacity 300ms ease-in;
            }
        }
    }
    
    .column__right .row__middle.fill-height {
        height: 100%;
    }

    .footer {
        display: table;
        background-color: white;
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        box-shadow: 0px 3px 0px 0px #eaeaea;
        background-color: $footerBackgroundColor;
        color: $footerColor;
        font-weight: 500;
        z-index: 3;
        text-align: left;

        ul {
            list-style: none;
        }

        ul, li {
            width: 100%;
        }

        li {
            padding: 5px;
            margin: 2px 0 2px 0;
        }

        ul li {
            font-family: 'Courier New', Courier, monospace;
        }

        .left {
            display: inline-block;
            width: 10%;
        }
        
        .right {
            display: inline-block;
            width: 80%;
            border-left: 1px solid $lipidDataColor;
            padding-left: 40px;
            text-align:left; 
        }

        a {
            color: $footerColor;
            text-decoration: none;
            width: auto;
            cursor: pointer;
        }

        .footer__icon {
            margin-right: 5px;
            margin-bottom: -2px;
        }

    }

    .share-site-bar {
        position: absolute;
        top: 30%;
        right: -10px;
        width: 40px;
        height: 200px;
        z-index: 2;
        padding: 10px 10px 8px 10px;
        background-color: #eaeaea;
        border-radius: 10px;

        .share-btn {
            position: relative;
            width: 35px;
            height: 40px;
            cursor: pointer;

            .share-btn__icon {
                width: 32px;
                height: 32px;
                position: absolute;
                top: 0; left: 0;
            }

            .share-btn__icon:hover {
                width: 36px;
                height: 36px;
                left: -2px;
                top: -2px;
            }

            .tooltip {
                display: none;

                .triangle {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    top: 4px; right: -8px;
                    z-index: 2;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid $secondaryThemeColor;
                }

            }

            .tooltip.active {
                display: block;
                position: absolute;
                top: 3px; right: 45px;
                min-width: 180px;
                max-width: 300px;
                white-space: nowrap;
                height: 23px;
                padding: 4px 14px 4px 14px;
                border-radius: 2px;
                background-color: $secondaryThemeColor;
                color: #fafafa;
                font-weight: 500;
                z-index: 3;
            }
        }
    }


    .home-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        flex-wrap:  wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 5%;
        text-align: center;

        .home__image {
            max-width: 60%;
            max-height: 60%;
            vertical-align: middle;
        }

        .home__text {
            height: 100%;
            width: 50%;
            color: #333;
            font-weight: 400;

            div {
                position: relative;
                width: 100%;
            }

            .header {
                height: 20%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .body {
                height: 80%;

                p {
                    font-size: 18px;
                }

                .body__about {
                    display: block;
                    width: 80%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }

                .listing {
                    margin-left: 15%;
                    text-align: left;
                    font-size: 18px;

                    li {
                        padding: 5px;
                    }
                }
            }
            
            .frame-container {
                position: relative;
                width: 640px;
                height: 320px;
                margin-left: auto;
                margin-right: auto;
                background-color: black;
                cursor: pointer;

                .frame__icon {
                    position: absolute;
                    top: 40%;
                    left: 46%;
                    color: #FF0000;
                }

                .frame__icon:hover {
                    color: white;
                }
            }

        }

        .video-title {
            color: white;
            z-index: 10;
        }
    }

    #lipids-vol-info-form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        > div {
            width: 45%;
        }

        .form__fields {
            width: 80%;
            margin-left:auto;
            margin-right: auto;
        }

        .field {
            width: 100%;
        }
    }
    
    .form {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        margin-right: auto;
        color: #333;

        .form__example {

            .example__img {
                width: 70%;
                margin: 5px;
                border: 5px solid #fafafa;
                border-radius: 10px;
            }

            .example__header {
                color: $textTheme;
            }

            .example__text {
                color: $textTheme;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .form__header {
            margin: 5px 5px 10px 5px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: $textTheme;
        }

        ul h2.form__sub-header {
            margin: 1px;
        }

        .field {
            display: table;
            position: relative;
            width: 95%;
            margin-right: auto;
            margin-left: 5px;
            padding: 5px;
            font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;

            .field__name {
                display: inline-block;
                width: 100%;
                height: 24px;
                text-align: left;
                margin: 3px 0px 10px 0px;
                color: #333;
                font-size: 18px;
                font-weight: 700;  
            }


            .field__help {
                position: relative;
                display: inline-block;
                vertical-align: middle; 
                margin-left: 15px;
            }

            .help__tooltip {
                display: none;

                .triangle {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    top: 5px; left: -9px;
                    z-index: 2;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid $secondaryThemeColor;
                }
            }
            
            .help__tooltip.active {
                display: block;
                position: absolute;
                top: -5px; left: 40px;
                min-width: 100px;
                max-width: 500px;
                white-space: nowrap;
                height: 24px;
                line-height: 16px;
                
                padding: 8px 14px 0px 14px;
                border-radius: 5px;
                background-color: $secondaryThemeColor;
                color: #fafafa;
                font-weight: 500;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                z-index: 5;
            }

            .field__input-block {
                position: relative;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                height: 3em;
                width: 100%;
                border: 1px solid transparent;
                border-radius: 3px;
                border-color: $borderColor;
                color: #363636;
                -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
                box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
                background-color: #fff;
            
            }

            .field__input-block.error {
                border-color: $errorColor;
            }

            .field__input-block.type-number {
                input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            .field__input {
                position: relative;
                width: 83%;
                height: 2.5em;
                line-height: 1.5em;
                padding-bottom: 0.25em;
                padding-left: 2%;
                padding-right: 2%;
                padding-right: 0;
                padding-top: 0.25em;
                margin-right: auto;
                -moz-appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                -webkit-box-align: center;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                font-size: 1rem;
                background-color: transparent;
            }

            .field__input.no-units {
                width: 100%;
            }

            .field__input.disabled {
                pointer-events: none;
            }

            .field__input:focus {
                outline: 0;
            }

            .field_units {
                width: 13%;
                height: 99%;
                line-height: 3em;
                border-left: 1px solid $borderColor;
                background-color: $sidebarTextColor;
                font-size: 16px;
                font-weight: 500;
            }

            .field__search {
                background: none;
            }
            
            .field__icon {
                position: absolute;
                right: -50px;
                top: 50px;
            }


            .field__error, .field__warning {
                text-align: left;
                font-size: 14px;
                font-weight: 400;
                color: $errorColor;
                margin: 0;
                font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            .field__warning {
                color: $warningColor; 
            }

        }
        
        .form__back-btn {
            position: absolute;
            bottom: 10px;
            left: 15%;

            button {
                width: auto;
            }
        }

        .form__forward-btn {
            position: absolute;
            width: 240px;
            bottom: 10px;
            right: 10px;

            button {
                width: auto;
            }

        }

        
        .solution-results {
            display: inline-block;
            width: 80%;
            margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
            font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
            
            h2 {
                margin: 5px;
            }

            .solution-result {
                padding: 10px;
                text-align: center;
                
                div {
                    display: inline-block;
                    margin-right: 20px;
                }
                span {
                    display: inline-block;
                    font-weight: 500;
                }
            }

        }

        .form__error {
            display: inline-block;
            position: relative;
            height: 57px;
            flex-grow: 2;
            font-size: 18px;
            font-weight: 600;
            color: $errorColor;
            font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
            -webkit-font-smoothing: antialiased;

            span {
                position: relative;
                transform: translateY(-50%);
            }
        }
    }

    .button-with-icon {
        display: inline-block;
        width: auto;
        height: auto;
        margin: 10px;
        border: none;
        padding: 10px 25px;
        font-size: 20px;
        white-space: nowrap;
        color: #fafafa;
        background-color: #2E5077;
        cursor: pointer;
        text-decoration: none;

        .button__icon {
            display: inline-block;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 10px;
            margin-bottom: 0px;
        }
    } 

    .button-with-icon:hover {
        box-shadow: 0 0 0 2px #264262;
    }

    .button-with-icon:focus {
        outline: 0;
    }

    .lipids-vol-data {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 60px;

        .lipid-actions {
            position: absolute;
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            width: 100%;
            bottom: 5px;
            left: 10px;

            .row-end {
                align-self: flex-end;
            }

            .block {
                display: block;
                width: 90%
            }
        }

        .form__sub-header {
            display: inline-block;
            width: 35%;
        }

        .lipid-element {
            position: relative;
            width: 80%;
            margin-left: 10%;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            justify-content: space-around;

            .lipid-data {
                box-shadow: 2px 0 3px 3px $lipidDataColor;
                background-color: $lipidDataColor;
            }

            .lipid-result, .lipid-data {
                position: relative;
                padding: 0 15px 0 15px;
                margin: 20px;
                width: 40%;
            }

            .lipid-result.extend--width {
                width: 50%;
            }

            .lipid-result .field__input {
                text-align: left;
            }

            .lipid-result .chart-container {
                margin-top: 10%;
            }

            .lipid-result .result__selection {
                position: absolute;
                top: 0; right: 0; left: 0;

                 label {
                     margin-right: 15px;
                 }

                 select {
                    padding: 10px;
                    border: none;
                    line-height: 1.5em;
                    background-color: #fff;
                    border-color: $borderColor;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    color: #363636;
                    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
                 }
            }

            .lipid-result .x-axis-label {
                position: absolute;
                right: -70px; bottom: 70px;
                font-weight: 500;
                font-size: 22px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .lipid__name { 
                text-align: left;
                font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
                font-size: 24px;
            }

            .remove-data-btn {
                position: absolute;
                top: 20px; right: 15px;
            }

            .remove-data-btn:hover {
                width: 24px;
                height: 24px;
                top: 18px;
                right: 13px;
            }

            .lipid-btn-container {
                margin-top: 10px;
                height: 140px;
            }

            .lipid__button {
                background-color: $lipidDataButtons;
            }

            .lipid__button:hover {
                box-shadow: 0 0 0 2px #1A2C41;
            }
        }

    } 
    
    .lipids-vol-results { 
        vertical-align: top;

        .lipid-element {
            background: none;
            box-shadow: none;
            
            .field__input {
                background: none;
                border: none;      
                box-shadow: none;
                text-align: left;
                font-size: 16px;
                font-weight: 700;    
            }

        }

    }

    .projects {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;


        .projects__table {
            width: 50%;
            margin-right: 5%;

            > div {
                display: grid;
                grid-template-columns: 22.5% 22.5% 22.5% 22.5% 10%;
                grid-template-rows: 50px;
                align-items: center;
            }
            
            .table__name {
                margin: 5px 5px 10px 5px;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                color: $textTheme;
            }

            .table__header {
                color: $textTheme;
                font-weight: 700;
                font-size: 16px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                border-bottom: 1px solid #999;
            }

            .table__item {
                color: #666;
                font-weight: 500;
                font-size: 16px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                border-bottom: 1px solid #999;
                cursor: pointer;

                > div {
                    display: table-cell;
                    vertical-align: middle;
                }

                .item__link {
                    margin-left: auto;
                    margin-right: auto;
                    color: blue;
                }

                .item__link:hover {
                    color: #7D84B2;
                }

                .remove__icon:hover {
                    color: $errorColor;
                }
            }

            .table__item.active {
                background-color: #A5C096;
            }

            .table__item:hover {
                background-color: #A5C096;
            }

        }

        .project__form {
            width: 35%;
            
        }
    }

    // loader 
    .overlay-container {
        display: inline-block;
        position: fixed;
        top: 0; right:0; bottom: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 3;

        .dialog-container {
            position: absolute;
            top: 30%;
            left: 35%;
            width: 30%;
            height: auto;
            border-radius: 10px;
            overflow: hidden;
            
            .dialog__header {
                display: table;
                width: 100%;
                height: 40px;
                background-color: #666;
                overflow: hidden;

                h3 {
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0;
                    padding: 0;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
            }

            .dialog__content {
                width: 80%;
                height: auto;
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 1em;
                padding-bottom: 1em;
                background-color: #eaeaea;
                text-align: left;

                p {
                    margin: 0;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
            }
            .dialog__footer {
                width: 100%;
                height: 30%;
                margin-top: 0;
                padding-top: 0;
                background-color: #eaeaea;

            }

        }
    

        .lds-ring {
            position: absolute;
            top: 40%;
            right: 50%;
            
            div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 51px;
                height: 51px;
                margin: 6px;
                border: 6px solid #fff;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #fff transparent transparent transparent;
            }

            p {
                position: absolute;
                top: 40px; left: -50px;
                font-size: 32px;
                font-weight: 500;
                color: #fff;
                font-family: Arial, Helvetica, sans-serif;

            }

        }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
    }

    .saving span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    .saving span:nth-child(2) {
        animation-delay: .2s;
    }

    .saving span:nth-child(3) {
        animation-delay: .4s;
    }
    
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes blink {
        0% {
            opacity: .2;
        }
        20% {
            opacity: 1;
        }
        100% {
            opacity: .2;
        }
    }

}