@import "./bootstrap.css";
@import "./colors.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./mixins.scss";

// atoms
@import "./atoms/button.scss";
@import "./atoms/frame.scss";
@import "./atoms/graph-error.scss";
@import "./atoms/like-component";
@import "./atoms/loader.scss";
@import "./atoms/logo.scss";
@import "./atoms/background-image.scss";
@import "./atoms/paragraph.scss";
@import "./atoms/spinner.scss";

// molecules
@import "./molecules/card.scss";
@import "./molecules/teaser.scss";
@import "./molecules/expandable-item.scss";
@import "./molecules/game-link.scss";
@import "./molecules/login.scss";
@import "./molecules/image.scss";
@import "./molecules/panel.scss";
@import "./molecules/section.scss";
@import "./molecules/social-bar.scss";

// organisms
@import "./organisms/carousel.scss";
@import "./organisms/navigation.scss";

// pages
@import "./pages/about.scss";
@import "./pages/experience.scss";
@import "./pages/games.scss";
@import "./pages/home.scss";

// transitions
@import "./transitions.scss";

.h1, .h2, .h3, .h4 {
  font-family: Roboto-medium;
  font-weight: 500;
}

#root, .App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
}

.App {
  position: relative;
  overflow-y: visible;
  box-sizing: content-box;
  padding-right: 17px;
  
  .flex-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }

  .flex-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

.bold {
    font-family: Roboto-medium;
}

.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
}

.left-bottom-origin {
    span.lazy-load-image-background.lazy-load-image-loaded {
        img.lazyload {
            transform-origin: 5% 75%;
        }
    }
}

.top-origin {
    span.lazy-load-image-background.lazy-load-image-loaded {
        img.lazyload {
            transform-origin: 50% 15%;
        }
    }
}

