$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 20px;
$l-spacing: 40px;
$xl-spacing: 50px;

$zIndexMap: (
    "backgroundImg": -1,
    "navigation": 3,
    "loader": 4,
    "card": 1,
    "overlay": 2,
    "social": 1
);

$color-theme-010: rgb(100, 100, 244);
$color-theme-020: rgb(203, 235, 242);
$color-theme-030: #3e375d;
$color-theme-040: #3AB0AE;
$color-theme-050: #222F43;

$color-ui-010: rgb(0, 123, 255);
$color-ui-005: rgba(0, 123, 255, 125);
$color-ui-020: #ff6200;
$color-gradient-010: #39b2af;
$color-gradient-020: #55367d;
$color-inactive: #002246;
$color-error: #E74C3C;
$color-info: #3498DB;

$color-shade-010: #F5F4F5;
$color-shade-020: darken($color-shade-010, 11.47%);
$color-shade-030: darken($color-shade-020, 11.47%);
$color-shade-040: darken($color-shade-030, 11.47%);
$color-shade-050: darken($color-shade-040, 11.47%);

$ui-theme-gray: (
    'background': #718492,
    'title': '#222F43',
    'description': '#B1C2C9' 
); 

$breakpoints: (  
    "XS":   375px,
	"S":	576px,
    // "M":	768px,
    "L":    900px,
    "XL":	1280px,
    // "XXL":  1367px, // 1px bigger than older dell latitudes
    "XXXL": 1600px
);