$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 25px;
$l-spacing: 50px;
$xl-spacing: 100px;

$regular-fontsize: 16px; 
$medium-fontsize: 14px; 
$small-fontsize: 12px; 

$zIndexMap: (
    "frame-overlay": 5,
    "login-overlay": 6,
    "backgroundImg": -1,
    "navigation": 3,
    "loader": 4,
    "card": 1,
    "overlay": 2,
    "social": 1
);

$ui-theme-gray: (
    'background': #718492,
    'title': '#222F43',
    'description': '#B1C2C9' 
); 

$breakpoints: (  
    "XS":   375px,
	"S":	576px,
    "M":	768px,
    "L":    900px,
    "XL":	1280px,
    // "XXL":  1367px, // 1px bigger than older dell latitudes
    "XXXL": 1600px
);