.o-carousel {
    position: relative;
    margin-top: $s-spacing;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: $l-spacing;
    max-width: 800px;
    overflow: hidden;

    > div:first-child {
        display: flex;
        height: calc((7/ 16) * 100vw);
        position: relative;
        min-height: 40vh;
        max-height: 65vh;
    }

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: $s-spacing;
        
        &__img {
            margin-right: $m-spacing;
            margin-top: $m-spacing;

            width: 100px;
            height: 100px;
            cursor: pointer;

            span.lazy-load-image-background {
                overflow: hidden;

                img.lazyload {
                    width: 100px;
                    height: 100px;
                    box-shadow: inset(1px 1px);
                    filter: grayscale(95%);
                    transform: scale(1.3);
                    transition: transform 1s, filter 1s ease-in-out;
                }
            }
        }

        &__img:hover {
            box-shadow: 0 0 3px 2px $color-ui-010;

            .lazy-load-image-background.lazy-load-image-loaded {
                img.lazyload {
                    transform: scale(1.0);
                    filter: grayscale(5%);
                }

            }
        }

        &__img--selected {
            box-shadow: 0 0 3px 2px $color-theme-010;

            .lazy-load-image-background.lazy-load-image-loaded {
                img.lazyload {
                    transform: scale(1.0);
                    filter: grayscale(5%);
                }

            }
        }

        &__img--selected:hover {
            box-shadow: 0 0 3px 2px $color-theme-010;
        }

        &__img:first-child {
            margin-left: 0;
        }
    }
}

@include mq('M-max') {

    .o-carousel {

        > div:first-child {
            height: calc((9/ 16) * 100vw);
        }

    }
}