.o-carousel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 520px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__selected {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: row;

        &__img {
            width: 400px;
            height: 400px;

            img {
                width: 400px;
                height: 400px;
            }
        }

        &__sidepane {
            padding-left: $m-spacing;

            display: flex;
            flex-direction: column;
            // justify-content: space-evenly;
        }

        &__details {
            font-size: 12px;
            font-family: OpenSans;
            color: $color-shade-050;
        }

        &__links {
            margin-top: auto;
            
            // box-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px 0px;
        }
    }

    &__other {
        height: 100px;
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: $s-spacing;
        
        &__img {
            margin-right: $m-spacing;

            width: 100px;
            height: 100px;

            img {
                width: 100px;
                height: 100px;
            }
        }

        &__img:first-child {
            margin-left: 0;
        }

        &__img:hover {
            transition: ease-out;
            // border: 3px solid $color-ui-005;
            box-shadow: $color-ui-005 3px 3px 0 0;
        }

        &__img--selected, &__img--selected:hover {
            // box-shadow: rgba(70,118,151, .8) 3px 3px 7px 1px;
            box-shadow: $color-theme-010 3px 3px 0 0;
        }
    }
}