.o-navigation {
    display: flex;
    position: absolute;
    top: 0;
    z-index: map-get($zIndexMap, navigation);
    height: 50px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    font-family: SourceSansPro--s-bold;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: $xs-spacing;
        margin-left: $s-spacing;
        margin-right: $s-spacing;
        text-decoration: none;

        color: #fff;
        transition: 200ms ease-in-out;

        &--selected {
            color: $color-theme-030;
        }
    }

    .o-navigation__item__contact {
        cursor: default;
    }

    .o-navigation__item:hover {
        color: $color-theme-030;
        text-decoration: none;
    }
}


@include mq("S") {
    .o-navigation__item {
        margin-left: $m-spacing;
        margin-right: $m-spacing;
    }
}

@include mq("L") {
    .o-navigation__item {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}