$color-font-inactive: rgba(176, 176, 176, 0.8);
$color-font: #eaeaea;
$color-nav-item: gray;
$color-nav-item--active: #D9A019;
$color-error: #a4373a;
$color-info: #0078d4;
$color-header: darkgray;
$color-checkbox: #49837D;
$color-checkbox--active: #377771;