.a-bg-image {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

    transform: scale(1.01);

    &--blur {
        filter: blur(2px);
    }
}