.a-bg-image {
    position: fixed;
    background-image: url("/images/background/MountainV2.1.jpg");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    top: 0;
    right: -200px;
    left: 0;
    height: 100vh;
    z-index: -1;
    transform: scale(1.01);

    &--blur {
        filter: blur(2px);
    }
}