.a-like-component {
    display: flex;
    flex-direction: row;
    z-index: inherit;
    backdrop-filter: blur(5px);

    .a-icon {
        min-width: 40px;
        display: flex;
        justify-content: center;
        padding: $xs-spacing;
        color: $color-ui-010;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);

        #selectfill {
            stroke: $color-ui-010;
            stroke-width: 3px;
            fill: none;
        }

        &--loading {
            cursor: default;
        }

        &--selected {
            color: $color-theme-050;
            cursor: default;
        }
    }
    

    &__count {
        min-width: 40px;
        padding: $xs-spacing;
        background-color: rgba(0, 0, 0, 0.4);
        color: $color-shade-010;
        font-family: Roboto-medium;
    }
}

.a-like-component:hover {
    .a-icon {
        color: $color-ui-020;

        #selectfill {
            fill: $color-ui-020;
            stroke-width: 0;
        }

        &--selected {
            color: $color-theme-050;
            cursor: default;
        }
    }
}
