.a-like-component {
    display: flex;
    flex-direction: column;
    z-index: inherit;
    padding: $xs-spacing; 

    .a-icon {
        cursor: pointer;
        color: $color-ui-010;

        #selectfill {
            stroke: $color-ui-010;
            stroke-width: 3px;
            fill: none;
        }

        &--loading {
            cursor: default;
        }

        &--selected {
            color: $color-ui-030;
            cursor: default;
        }
    }
    

    &__count {
        color: $color-shade-010;
        font-family: Roboto-medium;
    }
}

.a-like-component:hover {
    .a-icon {
        color: $color-ui-020;

        #selectfill {
            fill: $color-ui-020;
            stroke-width: 0;
        }

        &--selected {
            color: $color-ui-030;
            cursor: default;
        }
    }
}
