body, html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: center;
}

html {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
        );
        // url(../images/pageImgResized.jpg);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/pageImgResized.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/pageImgResized.jpg', sizingMethod='scale')";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    
    z-index: 0;
}

html, body, #root, .wedding-page-app {
    height: 100%;
    overflow: hidden;
}

@font-face {
  font-family: 'Pinyon Script';
  src: url('../fonts/PinyonScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Adine Kirnberg';
  src: url('../fonts/AdineKirnberg.ttf') format('truetype');
}

@font-face {
  font-family: 'Adine Kirnberg Alt';
  src: url('../fonts/AdineKirnberg-Alternate.ttf') format('truetype');
}



h1, h2, h3, h4 {
  font-family: 'Pinyon Script'
}

@import "./01_settings/colors";
@import "./01_settings/variables";

h3 {
  font-size: $header-fontsize--xlarge;
  font-weight: 500;
}

h4 {
  font-size: $header-fontsize--large;
}

// atoms
@import "10_atoms/paragraphtitle";
@import "10_atoms/differenttexts";
@import "10_atoms/fields/checkboxfield";
@import "10_atoms/fields/textfield";
@import "10_atoms/button";
@import "10_atoms/loader";

// molecules
@import "20_molecules/contactblock";
@import "20_molecules/contentpar";
@import "20_molecules/mapcontainer";
@import "20_molecules/message";
@import "20_molecules/overlay";

// 30_organisms
@import "30_organisms/pagenavigation";
@import "30_organisms/contentpage";
@import "30_organisms/contentparagraphs";
@import "30_organisms/footer";
@import "30_organisms/registrationpage";

// Templates
@import "50_templates/weddingtemplate";