.a-text-field {
  margin: map-get($spacings, 6);
  text-align: left;
  width: 90%;
    
    &__title {
      font-family: 'Courier New', Courier, monospace;
      font-size: $header-fontsize;
      font-weight: 500;
      text-align: left;
      margin: map-get($spacings, 2);
    }


    &__value {
      background-color: white;
      height: 50px;
      width: 80%;
      margin: map-get($spacings, 2);
      padding: map-get($spacings, 2);
      font-size: $header-fontsize;
    }

    &__value.error {
      border: 1px solid darkred;

    }


    &__error {
      font-size: $small-fontsize;
      color: darkred;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 500;
      text-align: left;
      margin: map-get($spacings, 1);
      margin-left: $base-spacing;
    }

}