.a-text-field {
  margin: map-get($spacings, 6);
  text-align: left;
  width: 90%;
    
    &__title {
      font-family: 'Courier New', Courier, monospace;
      font-size: $base-fontsize;
      font-weight: 500;
      text-align: left;
      margin: map-get($spacings, 2);
    }


    &__value {
      background-color: white;
      height: 35px;
      width: 80%;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 2pt 1pt lightgray;
      margin: map-get($spacings, 2);
      padding: map-get($spacings, 2);
      cursor: text;

      font-size: $base-fontsize;
    }

    &__value.error {
      box-shadow: 0 0 2pt 1pt darkred;
    }

    &__value:focus {
      outline: 0;
      box-shadow: 0 0 2pt 1pt lightblue;
      
    }


    &__error {
      font-size: $small-fontsize;
      color: darkred;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 500;
      text-align: left;
      margin: map-get($spacings, 1);
      margin-left: $base-spacing;
    }

}