.m-card {
    position: absolute;
    top: 2.5vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 75vh;
    background-color: transparent;
    border-radius: 50px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &__image {
        flex: 1 1 80%;
    }

    &__details {
        background-color: $color-white;
        flex: 1 1 20%;

        color: $color-theme-010;
        display: flex;
        align-items: center;

        &-name {
            margin-left: $s-spacing;
        }

    }
    
    &__status {
        margin-left: auto;
        margin-right: $s-spacing;
        
        &-weight {
            svg {
                transform: rotate(90deg);
            }
        }
    }

}