.m-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90vw;
    height: 70vh;
    background-color: transparent;
    border-radius: $default-border;
    display: flex;
    flex-direction: column;

    &__image {
        border-top-left-radius: $default-border;
        border-top-right-radius: $default-border;
        flex: 1 1 80%;
    }

    &__details {
        background-color: $color-white;
        flex: 1 1 20%;
        border-bottom-left-radius: $default-border;
        border-bottom-right-radius: $default-border;

        color: $color-theme-010;
        display: flex;
        align-items: center;

        &-name {
            margin-left: $s-spacing;
        }

    }
    
    &__status {
        
    }

}