.m-navigation {
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: $color-white;

    a {
        font-family: $default-font;
        font-weight: 500;
        color: $color-theme-020;
        flex: 1 1 50%;
        text-decoration: none;
        padding: $s-spacing;
        text-align: center;
        margin: auto;


        &.router-link-exact-active {
            color: $color-theme-010;
        }
    }
}
