.m-contact-block {
  display: flex;
  margin: map-get($spacings,  6);

  & > div {
    margin: map-get($spacings,  2);
  }

  &__icon {
    margin-top: auto;
    margin-bottom: auto;

    width: 16px;
    height: 100%;    
  }

  &__text {
    width: 180px;
    text-align: left;
  }
}