.m-content-par {
  padding-top: $base-spacing;
  padding-left: map-get($spacings, 9);
  padding-right: map-get($spacings, 9);
  padding-bottom: $base-spacing;


  &__content {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: $base-spacing;
    font-size: $base-fontsize;

  }

  &__link  {
    font-size: $base-fontsize;

    & > a {
      text-decoration: none;
      color: black;
    }
  }

}

.m-content-par__content::first-letter {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Adine Kirnberg', 'Adine Kirnberg Alt';
  margin-right: map-get($spacings, 2);
}

@media screen and (max-width: 768px) {
  .m-content-par {

    &__content {
      font-size: $small-fontsize;

    }
  }
}

@media screen and (max-width: 560px) {
  .m-content-par {

    &__content {
      font-size: $small-fontsize;

    }
  }
}