.m-contacts-block {
  display: flex;
  flex-direction: row;
  margin-top: map-get($spacings,  4);
  justify-content: space-evenly;

  .m-contact-block {

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      padding: map-get($spacings, 2);
    }

    &__icon {
      margin-top: auto;
      margin-bottom: auto;

      width: 16px;
    }

    &__text {
      width: 180px;
      text-align: left;
    }
  }
}