.m-message {
  position: fixed;
  top: 180px;
  width: 75vw;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 3px 0 0 darkred;
  
  left: 12.5vw;
  display: flex;

  z-index: 5;
  
  & > div {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__icon {
    width: 10%;
  }

  &__text {
    text-align: left;
    width: 85%;
    font-size: $base-fontsize;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }

  &__close {
    width: 5%;

    & > svg {
      cursor: pointer;
    }
  }
}

.m-message.error-message {
  background-color: $color-error;
  color: white;
}

.m-message.info-message {
  background-color: $color-info;
}