.p-content-page {
    // position: absolute;
    // top:0; left: 500px; bottom: 10px;
    flex-grow: 4;
    max-width: 600px;
    min-width: 300px;
    background: #E8D3A8;

    &__header {
      padding: map-get($spacings, 5);
      margin: map-get($spacings, 5);
      color: $color-font;
      font-size: $large-fontsize;
      box-shadow: 0px 2px 1px 0px black;

      h4 {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }