.t-wedding-template {
    width: 100%;
    height: 100%;

    &__header {
        position: relative;
        height: 20%;
        width: 100%;
        
        > h4 {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            width: 100%;
            height: 50px;
            margin: auto;
            font-size: 24px;
            font-weight: 500;
            color: white;
        }
   }


   &__container {
        position: relative;
        width: 100%;
        height: 75%;

        display: flex;
        justify-content: space-around;
   }
}